* {
    margin : 0;
    box-sizing: border-box;
    /* background-color: bisque; */
}
.container {
    width: 100%;
    max-width: 736px;
    margin: 0 auto;
    padding: 165px 0;
}
.flex {
    display: flex;
    align-items: center;
}


/*Margins*/
h1 {
    margin-bottom: 15px;
    /* width: 736px; */
}
.scroller {
    width: 242px;
    height: 98px;
}